.inputs {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 15px 0px;
	position: relative;
}

.input__date {
	margin-bottom: 15px;
	padding: 12px 17.5px;
	border-radius: 45px;
	border-color: var(--c-black);
	color: var(--c-black);
	
	transition: .7s;
}

.input__date:hover, .input__date:active {
	box-shadow: 10.5px 10.5px 8px 0px rgba(0, 0, 0, 0.77);
}

.input__date:last-child {
	margin-bottom: 0px;
}

.inputs:before {
	position: absolute;
	left: -16.5%;
	display: block;
	content: "";
	height: 100%;
	width: 15px;
	border-right: 4px solid var(--c-black);
	border-left: 4px solid var(--c-black);
}

.inputs:after {
	position: absolute;
	right: -16.5%;
	display: block;
	content: "";
	height: 100%;
	width: 15px;
	border-left: 4px solid var(--c-black);
	border-right: 4px solid var(--c-black);
}