.price {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 15px 0px;
	width: 33%;
	position: relative;
}

.price__text {
	color: var(--c-black);
	font-size: 11.5px;
	text-align: center;
}

.price__block {
	border: 2px solid var(--c-black);
	border-radius: 45px;
	padding: 10px 17.5px;
	margin-bottom: 15px;
	transition: .7s;

	display: none;
}

.price__block:hover, .price__block:active {
	box-shadow: 10.5px 10.5px 8px 0px rgba(0, 0, 0, 0.77);
}

.price__block:last-child {
	margin-bottom: 0px;
}

.price:before {
	position: absolute;
	left: -14.5%;
	display: block;
	content: "";
	height: 100%;
	width: 15px;
	border-right: 4px solid var(--c-black);
	border-left: 4px solid var(--c-black);
}

.price:after {
	position: absolute;
	right: -14.5%;
	display: block;
	content: "";
	height: 100%;
	width: 15px;
	border-left: 4px solid var(--c-black);
	border-right: 4px solid var(--c-black);
}